.Title  {
    /* flex-basis: 80%; */
    background-color: rgb(197, 76, 76);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: center;
    width:100%;
}


.Title-End {
    display: flex;
    align-items: center;
    margin-top: 200px;
    height: 30px;
}

.Title-mainTxt {
    color: #f8f6f6;
    font-size: 40px;
    font-family: 'Bungee', cursive;
    margin: 0;
}

.Title-subTxt {
    color: #e5d7d7;
    font-size: 15px;
    font-family: monospace;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    max-width: 80%;
    min-width: 400px;
}